<div class="component recent-searches">
  <h3>Recent Searches</h3>
  <ul class="nav nav-pills nav-stacked js-searches">
    {{#each recent in controller}}
    <li>{{recent}}</li>
    {{/each}}
  </ul>
</div>
