<form class="component search-form form-inline well">
  {{view Ember.TextField valueBinding="controller.query" class="span3" placeholder="Enter your search term"}}
  <button type="submit" class="js-submit btn btn-primary" {{action performSearch}}>Search</button>
</form>
